
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.btn {
    background-color: #7749F8;
}

input[type='checkbox'] {
    border: 1px solid;
    border-radius: 1em!important;
}

input[type='checkbox']:hover {
    background-color: #DEE2E6;
    border: 1px solid;
    border-radius: 1em;
}

input[type='checkbox']:checked {
    background-color: #198754;
    border-radius: 1em;
}

input[type='checkbox']:checked+label {
    text-decoration: line-through;
}