
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.btn {
    background-color: #7749F8;
}

#welcome-text {
    padding-top: 10%;
    padding-bottom: 10%;

}
